In [ ]:
pip install wget

Collecting wget
  Downloading wget-3.2.zip (10 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9655 sha256=dd27b87d8e3e0b391860bb6f22f06296de9cb2ad23729137ee30b16391288852
  Stored in directory: /root/.cache/pip/wheels/8b/f1/7f/5c94f0a7a505ca1c81cd1d9208ae2064675d97582078e6c769
Successfully built wget
Installing collected packages: wget
Successfully installed wget-3.2

In [ ]:
import pandas as pd
import numpy as np
import matplotlib
import seaborn as sns
import wget

## Question 1
Answer: Pandas version is '1.5.3'

In [ ]:
pd.__version__

'1.5.3'

## Getting the data

In [30]:
wget.download("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv")

'housing (1).csv'

In [ ]:
data = pd.read_csv('housing.csv')
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

## Question 2
How many columns are in the dataset?<br>
Answer: 10

In [ ]:
len(data.columns)

10

## Question 3
Which columns in the dataset have missing values?<br>
Answer: `total_bedrooms`

In [ ]:
data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

## Question 4
How many unique values does the `ocean_proximity` column have?
Answer: 5

In [ ]:
data['ocean_proximity'].unique()
len(data['ocean_proximity'].unique())

5

## Question 5
What's the average value of the `median_house_value` for the houses located near the bay?
Answer: 259212

In [ ]:
near_bay_houses = data[data['ocean_proximity'] == 'NEAR BAY']
near_bay_houses['median_house_value'].mean()

259212.31179039303

## Question 6

1. Calculating average of `total_bedrooms` column

In [43]:
mean_total_bedrooms = data['total_bedrooms'].mean()
mean_total_bedrooms

537.8705525375618

2. Filling missing values with the mean

In [44]:
data['total_bedrooms'].fillna(mean_total_bedrooms)

0         129.0
1        1106.0
2         190.0
3         235.0
4         280.0
          ...
20635     374.0
20636     150.0
20637     485.0
20638     409.0
20639     616.0
Name: total_bedrooms, Length: 20640, dtype: float64

3. Calculating the mean average again

In [45]:
data['total_bedrooms'].mean()

537.8705525375618

4. Answer: The Average has not changed

## Question 7
1. Select all the options located on islands.
2. Select only columns `housing_median_age`, `total_rooms`, `total_bedrooms`.
3. Get the underlying NumPy array. Let's call it `X`.
4. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
5. Compute the inverse of `XTX`.
6. Create an array `y` with values `[950, 1300, 800, 1000, 1300]`.
7. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
8. What's the value of the last element of `w`?